body {
  font-size: 16px;
  margin: auto;
  margin-top: 5px;
  max-width: 600px;
  min-width: 260px;
  padding: 15px;
  padding-top: 0;
}

body.modern {
  background: #fafafa;
  color: #404040;
  font-family: sans-serif;
}

body.lofi {
  font-family: monospace;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.modern h1 {
  background: #43a047;
  border-bottom: 3px solid #1b5e20;
  border-right: 3px solid #1b5e20;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fafafa;
  font-weight: normal;
  margin: 0;
  padding: 17px;
}

#main {
  text-align: center;
}

.modern #main {
  border-bottom: 2px solid #dadada;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-right: 2px solid #dadada;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
}

input[type="checkbox"] {
  height: 15px;
  margin: 5px;
  vertical-align: middle;
  width: 15px;
}

input[type="text"] {
  font-size: 1em;
  height: 25px;
  padding: 3px;
  width: calc(100% - 25px);
}

.modern input[type="text"] {
  border: none;
  outline: none;
}

#todos {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.modern #todos {
  margin: 0;
}

#todos a {
  color: #f00;
  margin-left: 1px;
  padding: 2px;
}

.modern #todos a {
  float: right;
  padding: 3px 8px;
}

#todos span {
  padding: 3px;
}

#todos span:focus {
  padding: 2px;
}

.modern #todos span:focus {
  border: 1px dotted #404040;
  outline: none;
}

.lofi #todos span:focus {
  border: 1px solid #000;
  outline: none;
  padding: 2px;
}

.modern #todos li, .modern form, .modern footer {
  border: 1px solid #dadada;
  border-top: none;
  padding: 5px;
}

li.done span {
  text-decoration: line-through;
}

.modern li.done span {
  color: #dadada;
}

.hide {
  display: none;
}

.modern footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

footer p {
  margin: 0;
}

#filters a.active {
  text-decoration: underline;
}

.modern hr {
  border: 1px solid #dadada;
  border-bottom: none;
}

.lofi hr {
  border: 1px solid #000;
  border-bottom: none;
}

#style {
  font-size: .85em;
}
