body {
  font-family: monospace;
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

#main {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  max-width: 600px;
  min-width: 260px;
  padding: 15px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

input {
  box-sizing: border-box;
  height: 25px;
  width: 25px;
}

input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
}

input[type="text"] {
  width: calc(100% - 50px);
}

#todos {
  list-style-type: none;
  padding-left: 0;
}

#todos a {
  margin-left: 1px;
  padding: 2px;
}

#todos span {
  padding: 3px;
}

#todos span:focus {
  border: 1px solid #000;
  padding: 2px;
}

li.done span {
  text-decoration: line-through;
}

.hide {
  display: none;
}

footer {
  text-align: center;
}
