body {
  font-family: monospace;
  font-size: 16px;
}

#main h1 {
  font-size: 2em;
}

ul#todos {
  list-style-type: none;
  padding-left: 0;
}

ul#todos a {
  margin-left: 1px;
  padding: 2px;
}

ul#todos span {
  padding: 3px;
}

ul#todos span:focus {
  border: 1px solid #000;
  padding: 2px;
}

li.done span {
  text-decoration: line-through;
}

.hide {
  display: none;
}
